<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Public -->
    <link rel="stylesheet" href="/public.css">
    <!-- CSS Bootstrap -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- CSS Icons -->
		<link rel="icon" type="image/x-icon" href="https://i.ibb.co/T0r5M2H/logo-ong.png">

    <title>Início</title>
</head>
<body>
	<!-- navegação -->
  <nav class="navbar navbar-expand-lg navbar-light bg-warning ">
		<div class="container">
			<a class="navbar-brand" href="index.html">
        <img src="https://i.ibb.co/XLZLJSs/logo-01.jpg" alt="" style="max-width: 100px; max-height: 50px;">
      </a> 
			<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="/">Início</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="/contato">Contato</a>
					</li>


          {{#if user}}
          <li class="nav-item">
            <a class="nav-link" href="/profile">Minha Conta</a>
          </li >
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Sair</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="login">Login</a>
          </li>
          {{/if}}
				</ul>
			</div>
		</div>
	</nav>

    <!-- carousel -->
	<div class="carousel slide" data-bs-ride="carousel" id="carouselExampleIndicators">
		<div class="carousel-indicators">
			<button aria-label="Slide 1" class="active" data-bs-slide-to="0" data-bs-target="#carouselExampleIndicators" type="button"></button> <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#carouselExampleIndicators" type="button"></button> <button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#carouselExampleIndicators" type="button"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img alt="..." class="d-block w-100 carousel-image" src="https://i.ibb.co/2kJdqbf/01-carrossel.png">
				<div class="carousel-caption">
					<h5>Phishing, a Porta de Entrada dos Ataques</h5>
					<p>Treinamento eficaz pode transformar vulnerabilidades em pontos fortes. Capacite sua equipe para agir com segurança.</p>
				</div>
			</div>
			<div class="carousel-item">
				<img alt="..." class="d-block w-100 carousel-image" src="https://i.ibb.co/xMnd8LG/02-carrossel.png">
				<div class="carousel-caption">
					<h5>Treinamento Prático, Resultados Reais</h5>
					<p>Nossa plataforma educa e testa sua equipe com simulações de phishing, ajudando a identificar e evitar armadilhas na prática. Descubra se sua equipe está preparada!</p>
				</div>
			</div>
			<div class="carousel-item">
				<img alt="..." class="d-block w-100 carousel-image" src="https://i.ibb.co/VH9myL7/03-carrossel.png">
				<div class="carousel-caption">
					<h5>Segurança Que Vai Além do Firewall</h5>
					<p>Hackers atacam pessoas, não máquinas. Treine sua equipe para ser a última barreira e estar à frente das ameaças cibernéticas.</p>
				</div>
			</div>
		</div><button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true" class="carousel-control-prev-icon"></span> <span class="visually-hidden">Previous</span></button> <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true" class="carousel-control-next-icon"></span> <span class="visually-hidden">Next</span></button>
	
    
    </div>
    
    <!-- Nossa Missão-->
	<section class="about section-padding" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-12 col-12">
					<div class="about-img mt-5"><img alt="" class="img-fluid" src="https://i.ibb.co/XLZLJSs/logo-01.jpg"></div>
				</div>
				<div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-4 pt-5 text-center">
					<div class="about-text">
						<h2>Porque se proteger?</h2>
						<p> A plataforma tem como objetivo principal capacitar os colaboradores para identificar e evitar ataques de phishing, um dos métodos mais comuns utilizados por cibercriminosos. Em um cenário onde a segurança da informação é crucial, o colaborador pode se tornar o elo mais fraco da empresa, sendo facilmente explorado por falta de conhecimento. Por isso, investir em treinamento contínuo é essencial para transformar esse ponto vulnerável em uma barreira eficaz contra ameaças. Com uma abordagem prática e acessível, a plataforma promove uma cultura de segurança, reduzindo riscos e protegendo os dados da organização. Afinal, uma equipe bem preparada é a chave para prevenir grandes prejuízos.
					</div>
				</div>
			</div>
		</div>
	</section>
	
	</section>

    <!-- seção de projetos -->
	<section class="projeto section-padding" id="projetos">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header text-center pb-4">
						<h2>Um pouco sobre nossos seviços</h2>
							
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-12 col-lg-4">
					<div class="card text-light text-center bg-white pb-2">
						<div class="card-body text-dark">
							<div class="img-area mb-4"><img alt="" class="img-fluid" src="https://i.ibb.co/HK89m59/01-card.png"></div>
							<h3 class="card-title">Treinamento</h3>
							<p class="lead"> Investir no treinamento dos colaboradores não é apenas uma ação preventiva, é uma estratégia essencial para proteger sua empresa. Quando sua equipe está preparada, ela se torna a primeira linha de defesa contra ameaças cibernéticas.
							</p>
							
						</div>
					</div>
				</div>
				<div class="col-12 col-md-12 col-lg-4">
					<div class="card text-light text-center bg-white pb-2">
						<div class="card-body text-dark">
							<div class="img-area mb-4"><img alt="" class="img-fluid" src="https://i.ibb.co/wcXkyZP/02-card.png"></div>
							<h3 class="card-title">Phishing</h3>
							<p class="lead"> O phishing é uma das maiores portas de entrada para cibercriminosos, explorando o erro humano. Ensinar sua equipe a identificar e evitar esses ataques é crucial para garantir a segurança dos dados da sua organização.
              </p>								
						</div>
					</div>
				</div>
				<div class="col-12 col-md-12 col-lg-4">
					<div class="card text-light text-center bg-white pb-2">
						<div class="card-body text-dark">
							<div class="img-area mb-4"><img alt="" class="img-fluid" src="https://i.ibb.co/Y044Ct3/03-card.png"></div>
							<h3 class="card-title">Cibersegurança</h3>
							<p class="lead"> A cibersegurança é mais do que uma questão de tecnologia, é uma responsabilidade compartilhada. Com conhecimento e boas práticas, todos os colaboradores podem ajudar a proteger a empresa contra ameaças digitais.
              </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	
	<!-- footer-->
	<footer>
		<div class="footer-content">
			<div id="contacts">
				<!-- Texto do rodapé -->
				<img class="logo-footer" src="https://i.ibb.co/XLZLJSs/logo-01.jpg" alt="logo-footer">
	
				<!-- social links -->
				<div id="social_links">
					<a href="#" class="footer-link" id="instagram">
						<i class="fa-brands fa-instagram"></i>
					</a>
	
					<a href="#" class= "footer-link" id="facebook">
						<i class="fa-brands fa-facebook-f"></i>
					</a>
	
					<a href="#" class="footer-link" id="linkedin">
						<i class="fa-brands fa-linkedin"></i>
					</a>
				</div>
			</div>
			
			
			<!-- Lista de links-->
			<ul class="footer-list">
				<li>
					<h3>Mapa do Site</h3>
				</li>
				<li>
					<a href="/" class="footer-link">Início</a>
				</li>
				<li>
					<a href="/contato" class="footer-link">Contato</a>
				</li>
				<li>
					<a href="/login" class="footer-link">Login</a>
				</li>
			</ul>
	
			<!-- Lista de links do blog-->
			<ul class="footer-list">
				<li>
					<h3>Informações</h3>
				</li>
				<li>
					<a href="/termosDeUso" class="footer-link">Termos de Uso</a>
				</li>
				<li>
					<a href="/privacidade" class="footer-link">Política de Privacidade</a>
				</li>
			</ul>
		</div>
	
		<!-- Direitos autorais-->
		<div class="copyright">
			Data Safe IA © 2024 todos direitos reservados
		</div>
	</footer>
	<div vw class="enabled">
		<div vw-access-button class="active"></div>
		<div vw-plugin-wrapper>
		  <div class="vw-plugin-top-wrapper"></div>
		</div>
	  </div>
	  
		<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
	  <script>
		new window.VLibras.Widget('https://vlibras.gov.br/app');
		</script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>