<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="decription" content="FECAP - Portal do Aluno - clone para teste">
    <meta name="author" content="Grupo 1 - Projeto integrador">

    <link rel="stylesheet" href="/clone.css">
    <link rel="icon" href="https://i.ibb.co/9ZFPLgR/favicon.png">

    <title>Portal do Aluno</title>
    
</head>
<body>
    <div class="container">
        <div class="contein-logo">
            <img class="logo" src="https://i.ibb.co/rk9WYJg/logo-fecap.png" alt="logo-fecap"><br><br>
        </div>
        <div class="contein-form">
            <h1 class="contein-um">PORTAL DO ALUNO</h1>
            <form action="" class="contein-dois" id="form">
                <div class="campo-um">
                    <img src="https://i.ibb.co/K2gz5yz/icon-usuario.png" alt="Icone de usuario">
                    <input type="text" placeholder="  Usuário">
                </div>
                <div class="campo-dois">
                    <img src="https://i.ibb.co/wgyX9Pq/icon-cadeado.png" alt="Icone de cadeado">
                    <input type="text" placeholder="  Senha">
                </div>
                <button type="submit" class="bt-acessar">ACESSAR</button><br>
                <a id="link-esqueceu" href="esqueceu-senha">Esqueceu sua senha?</a>
            </form>
        </div>
    </div>
</body>
</html>